<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389984417492-7sltk0qe97eefkavirge82odpt79e0v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389984417492-7sltk0qe97eefkavirge82odpt79e0v5</string>
	<key>API_KEY</key>
	<string>AIzaSyBh9beHztXS0pt06wXCw8Gfm4x3yyJykFI</string>
	<key>GCM_SENDER_ID</key>
	<string>389984417492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cn.jiewen.GoogleLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-signinapp-e4116</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-signinapp-e4116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389984417492:ios:7fac459c93cc1cc62cad41</string>
</dict>
</plist>